/** @format */

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;700&family=Jost:wght@300;400;500;600&family=Lexend+Deca:wght@400;700&family=Poppins:wght@300;400;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	background: linear-gradient(
		0deg,
		rgba(253, 187, 45, 1) 40%,
		rgba(221, 80, 135, 1) 80%
	);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}
