.profile-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  
}

.profile-card li  {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  width: 400px;
  margin: 8px;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
}

.profile-card li span {
  margin: 2px;
  font-weight: 600;
}
