/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	text-align: center;
	max-width: 60rem;
	margin: 0 auto;
}

body {
	font-family: sans-serif;
	color: #555;
	font-weight: 400;
	background-image: linear-gradient(
		180deg,
		rgb(204, 6, 89),
		rgb(216, 177, 3)
	);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.search {
	width: 60rem;
	margin: 10px;
	padding: 10px;
	font-size: 20px;
}

.profileList {
	width: 100%;

	margin: 30px auto;
	padding: 30px 30px;
	list-style-type: none;
	text-align: center;
}

.listItem {
	background-color: white;
	width: 50%;
	border: 1px solid black;
	margin-bottom: 20px;
	font-size: 20px;
	/* display: flex; */
}
